<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="home.css"/>
</head>
<body>
    <div class="home-container" action="/home">
        <nav class="nav-bar">
            <h1 class="company-name-heading">SkyGoalTech</h1>
            <ul class="menu-container">
                <li class="item">Home</li>
                <li class="item">About</li>
                <li class="item">Contact</li>
            </ul>
            <button class="logout-button" type="button">Logout</button>
        </nav>
    </div>
</body>
</html>