<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="signup.css"/>
</head>
<body>
    <div class="login-container">
        <h1 class="login-heading">SignUp Page</h1>
        <form class="login-form-container" action="/signUp" method="POST">
            <label for="email">Username</label>
            <br/>
            <input type="email" name="email" required placeholder="Enter Username..."/>
            <br/>
            <label for="password">Password</label>
            <br/>
            <input type="password" name="password" required placeholder="Enter password..."/>
            <br/>
            <div class="button-container">
                <button type="submit">SignUp</button>
            </div>
        </form>
        <p class="new-account-tag">I have an account<a href="/" class="login-link"> Login</a></p>
    </div>
</body>
</html>